<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teslatec</title>
    <link rel="stylesheet" href="css/normalize.css)">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <!-- Parte inicial de la pagina, la imagen referente al inicio (Banner)  -->
    <header>
        <div class="banner">
            <img class="banner__img" src="Media/img/img__bannerGod.jpg" alt="">
            <h2 class="banner__description">Bienvenido a Teslatec</h2>
        </div>
    </header>

    <main>

        <form class="form" action="">

            <div class="form__box">
                <input class="input__text" type="text" name="" id="Usuario" placeholder="Usuario">

                <input class="input__text" type="password" name="" id="pass" placeholder="Contraseña">

                <div class="checkbox">
                    <input class="input__check" type="checkbox">
                    <p>Recuerdame</p>
                </div>
                

                <a class="input__submit" href="registroCliente.html">Ingresar</a>
    
            </div>

        </form>
    </main>


</body>
</html>