<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de cliente</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="styleRegistro.css">
</head>
<body>


    <main>

        <h2 class="text__h2">Registre el Cliente</h2>
        <form class="form" action="">


            <div class="form__box">
                <input class="input__text" type="text" name="dni" id="Usuario" placeholder="Dni">
                <input class="input__text" type="password" name="nombreCliente" id="pass" placeholder="Apellidos y nombres">
                <input class="input__text" type="email" name="email" placeholder="Email" >
                <input class="input__text" type="text" name="direccion" placeholder="Direccion" >
                <input class="input__text" type="tel" name="telefono" placeholder="Telefono" >
                <a class="input__a" href="">Proceder al catalogo</a>
            </div>

            <div class="form__img">
                <img src="img/programmer.png" alt="">
            </div>
        </form>
    </main>

</body>
</html>